@model IEnumerable<YoutubeVideoDescription>
@{
    ViewData["Title"] = "Reaction Roullette";
}


<h2>Choose a video</h2>

<div class="row">
    @foreach (var youtubeVideoDescription in Model)
    {


        <div class="col-xs-6 col-md-3">
            <a asp-action="React" asp-controller="Default" asp-route-youtubeVideoDescriptionID="@youtubeVideoDescription.ID" class="thumbnail" title="React Now!">
                <img src="@youtubeVideoDescription.Thumbnail" title="This shoudl be a video" />
            </a>
        </div>


    }
</div>