@model IEnumerable<YoutubeVideoDescription>
@{
    ViewData["Title"] = "Home Page";
}


<h2>Choose a video</h2>

<div class="row">
    @foreach (var youtuubeVideoDescription in Model)
    {


        <div class="col-xs-6 col-md-3">
            <a asp-action="React" asp-controller="Default" asp-route-youtubeVideoDescriptionID="@youtuubeVideoDescription.ID" class="thumbnail">
                <img src="@youtuubeVideoDescription.Thumbnail" />
            </a>
        </div>


    }
</div>