@model YoutubeVideoDescription
@{
    ViewData["Title"] = "React";
}


<h2>React</h2>
<h3>@Model.Title</h3>
<div class="row">


    <div class="col-xs-12">
        <img src="@Model.Thumbnail" />
    </div>

    <button class="btn btn-danger" id="React">React</button>
    <button class="btn" id="Stop">Stop Recording</button>
    <video id="preview" controls style="border: 1px solid rgb(15, 158, 238); height: 240px; width: 320px;"></video>
</div>


@section scripts {
    <script>
        var callbackurl = '/Default/React/?youtubeVideoDescriptionID=@Model.ID';
    </script>
    <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"> </script>
    <script src="~/lib/webrtc-adapter.js/adapter.js"></script>
    <script src="~/js/Reaction.js"></script>
}