@model YoutubeVideoDescription
@{
    ViewData["Title"] = "Home Page";
}


<h2>React</h2>
<h3>@Model.Title</h3>
<div class="row">


    <div class="col-xs-12">
        <img src="@Model.Thumbnail" />
    </div>



</div>