@model YoutubeVideoDescription
@{
    ViewData["Title"] = "Results";
}


<h2>Results</h2>

<h3>We are now processing your reaction! This can take a while depending on the length of your video. Please leave your browser window open until your results are displayed.</h3>


<div class="row">

    <div class="col-xs-6">
        <h4>Operation Url</h4>
        <p>@ViewBag.OperationUrl</p>
    </div>
    <div class="col-xs-6">
        <table width="100%">
            <tr>

                <th>Neutral</th>
                <th>Happiness</th>
                <th>Surprise</th>
                <th>Sadness</th>

            </tr>
            <tr>
                <td id="outputNeutral"></td>
                <td id="outputHappiness"></td>
                <td id="outputSurprise"></td>
                <td id="outputSadness"></td>
            </tr>


            <tr>

                <th>Anger</th>
                <th>Disgust</th>
                <th>Fear</th>
                <th>Contempt</th>

            </tr>
            <tr>
                <td id="outputAnger"></td>
                <td id="outputDisgust"></td>
                <td id="outputFear"></td>
                <td id="outputContempt"></td>
            </tr>


        </table>
    </div>

</div>







@section scripts
    {

    <script>

        var interval = null;

        $(function () {

            interval = setInterval(function () {

                $.ajaxSetup({ cache: false });

                $.getJSON('/Default/GetReaction', { reactionID: '@ViewBag.ReactionID' }, function (result) {

                    console.log(result);
                    if (result == null) {

                        clearInterval(interval);
                    }

                    if (result.processingComplete) {
                        clearInterval(interval);
                        displayResults(result);

                    }
                    else if (result.processingFailed) {

                        clearInterval(interval);
                        alert('Nope');
                    }
                    /*
                    if (result.status == 'Succeeded') {

                        clearInterval(interval);
                        displayResults(result);

                    }
                    else if (result.status == 'Uploading') {


                    }
                    else if (result.status == 'Not Started') {


                    }
                    else if (result.status == 'Running') {


                    }
                    else if (result.status == 'Failed') {
                        clearInterval(interval);
                        alert('Nope');

                    }
                    */

                });

            }, 10000);


        });

        function displayResults(results) {


            console.log(results);

            $('#outputNeutral').text(results.neutral);
            $('#outputHappiness').text(results.happiness);
            $('#outputSurprise').text(results.surprise);
            $('#outputSadness').text(results.sadness);
            $('#outputAnger').text(results.anger);
            $('#outputDisgust').text(results.disgust);
            $('#outputFear').text(results.fear);
            $('#outputContempt').text(results.contempt);


        }
    </script>
}