@model YoutubeVideoDescription
@{
    ViewData["Title"] = "Results";
}


<h2>Results</h2>

<div class="row">


    <p>I will show some cool data here once I have been implemented</p>

    <h4>Operation Header</h4>
    <p>@ViewBag.OperationHeader</p>
</div>