@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Test Page</h2>

<div class="row">


    <form asp-action="React" asp-controller="Default" enctype="multipart/form-data">
        <input type="hidden" value="1" name="youtubeVideoDescriptionID" />
        @*<input type="hidden" value="http://reactionroullete.azurewebsites.net/testData/WIN_20160402_00_37_01_Pro.mp4" name="url" />*@

        @*<input type="hidden" value="http://www.helpinghomelesscats.com/images/cat1.jpg" name="url" />*@


        <input type="file" name="recordedVideo" />


        <input type="submit" value="Test Reaction" />
    </form>
</div>